{{- if .Values.route.grafana.enabled }}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: grafana
  name: grafana
spec:
  host: {{ .Values.route.grafana.host }}
  port:
    targetPort: "3000"
  tls:
    insecureEdgeTerminationPolicy: {{ .Values.route.insecureEdgeTerminationPolicy }}
    termination: {{ .Values.route.termination }}
  to:
    kind: Service
    {{- if contains "grafana" .Release.Name }}
    name: {{ .Release.Name | trunc 63 | trimSuffix "-" }}
    {{- else }}
    name: {{ .Release.Name }}-grafana
    {{- end }}
    weight: 100
  wildcardPolicy: None
{{- end }}

---
{{- if .Values.route.prometheus.enabled }}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: prometheus
  name: prometheus
spec:
  host: {{ .Values.route.prometheus.host }}
  port:
    targetPort: "9090"
  tls:
    insecureEdgeTerminationPolicy: {{ .Values.route.insecureEdgeTerminationPolicy }}
    termination: {{ .Values.route.termination }}
  to:
    kind: Service
    name: {{ .Release.Name }}-prometheus-server
    weight: 100
  wildcardPolicy: None
{{- end }}
