# Enable this to deploy a route and add securityContext
# Default: true
openshift:
  enabled: true

# If openshift.enabled    
route:
  insecureEdgeTerminationPolicy: Redirect
  termination: edge
  
# Parameters related to the deployment of HedgeDoc
hedgedoc:
  appname: my-hedgedoc
  domain: 2.rahtiapp.fi
  image: quay.io/hedgedoc/hedgedoc:1.9.4
  podSecurityContext: {}
  containerSecurityContext:
    allowPrivilegeEscalation: false
    runAsUser:
    runAsGroup:
    capabilities:
      drop:
      - ALL
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  pvc:
    storageSpace: 5Gi
  service:
    type: ClusterIP
  random_pw_secret_key: database-password
  secret:
    database-name: postgres
    database-user: postgres
    database-password: '{{- include "random_pw_reusable" . -}}'

# Parameters related to the deployment of PostgreSQL
postgresql:
  enabled: true

  auth:
    enablePostgresUser: false
    existingSecret: postgres

  tls:
    enabled: false
  
  # SecurityContext disabled by default for OpenShift.
  primary:
    service:
      type: ClusterIP
    persistence:
      size: 5Gi
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      seccompProfile:
        type: RuntimeDefault

  readReplicas:
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      seccompProfile:
        type: RuntimeDefault
          
  backup:
    cronjob:
      podSecurityContext:
        enabled: false
      containerSecurityContext:
        enabled: false
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        seccompProfile:
          type: RuntimeDefault

  metrics:
    containerSecurityContext:
      enabled: false
      runAsNonRoot: true
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      seccompProfile:
        type: RuntimeDefault
