minio:
  domainSuffix: ""
  whiteList: 0.0.0.0/0
  clusterName: my-minio-cluster
  image: minio/minio:RELEASE.2023-12-14T18-51-57Z
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi
  readinessProbe:
    enabled: true
    httpGet:
      path: /minio/health/ready
      port: 9000
      scheme: HTTP
  random_accesskey_secret_key: accessKey
  random_secretkey_secret_key: secretKey
  secret:
    accessKey: '{{- include "random_minio_accesskey_reusable" . -}}'
    secretKey: '{{- include "random_minio_secretkey_reusable" . -}}'
  pvc:
    name: minio-pvc
    storageSize: 5Gi
    storageClassName: standard-csi
  service:
    type: ClusterIP
  route:
    tls:
      termination: edge
      insecureEdgeTerminationPolicy: Redirect
