apiVersion: v2
name: prometheus-grafana-helm
dependencies:
  - name: prometheus
    repository: https://prometheus-community.github.io/helm-charts
    version: 27.5.x
  - name: prometheus-statsd-exporter
    alias: statsd-exporter
    condition: statsd-exporter.enabled
    repository: https://prometheus-community.github.io/helm-charts
    version: 0.15.x
  - name: grafana
    repository: https://grafana.github.io/helm-charts
    version: 11.1.x
description: Prometheus and Grafana Helm Chart for Rahti platform
  Link to the repo https://github.com/CSCfi/helm-charts
version: 2.1.1
sources:
- https://github.com/CSCfi/helm-charts
icon: https://miro.medium.com/v2/resize:fit:640/format:webp/0*4G5AVIBCAKMU1Ctl.png
