prometheus:
  appName: prometheus
  image: prom/prometheus:v2.50.1
  retentionTime: 15d

  limits:
    memory: 4Gi
  requests:
    memory: 4Gi

  pvc:
    storageSize: 5Gi

  service:
    type: ClusterIP

grafana:
  appName: grafana
  image: grafana/grafana:10.2.4

  limits:
    memory: 1Gi
  requests:
    memory: 1Gi
    
  secret:
    random_pw_secret_key: PASS
    adminUsername: admin
    adminPassword: '{{- include "random_pw_reusable" . -}}'

  pvc:
    storageSize: 5Gi

  service:
    type: ClusterIP

  route:
    tls:
      termination: edge
      insecureEdgeTerminationPolicy: Redirect